body{
  font-family:'Montserrat', sans-serif;
  background:#e5e5e5;
  width:90%;
  margin:0 auto;
  padding:2em 0 6em;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  justify-content: space-between;
}

header {
  border-bottom: 1px grey solid;
}

#map {
  height: 400px;
  width: 25%;
}

#pac-container {
  max-width: 480px;
}

gmp-place-autocomplete {
  width: 100%;
}

footer {
  border-top: 1px grey solid;
}

#address-label {
  font-size: 12px;
}

.disclaimer {
  align-items: center;
  justify-content: center;
  text-align: center;
}