{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="hero">
        <h1 class="main-text">
            See how your street <br>
            <span>affects salmon</span>
        </h1>
        <p>
            Enter your location to see how your neighborhood is impacting nearby salmon streams
        </p>
    
        <div class="enter-location">
            <label for="pac-container" id="address-label">Type your address (<button type="button" id="use-location"><i class="fa-solid fa-map-pin"></i>Use my location</button>)</label>
            <div id="pac-container"></div>
            <p class="disclaimer">We don't store your data. <a href="#">Privacy Policy</a></p>
            <p class="location-readout" id="location-readout"></p>
        </div>
    </div>
    <div id="map"></div>

    <section id="impact">
        <div class="left-part">
            <h1 class="main">
                When it rains, <br>
                <span>salmon feel it.</span>
            </h1>
            <p class="impact-body">
                When it rains, water washes over the ground and picks up pollutants like oil, pesticides, and trash. This polluted runoff flows into storm drains, which often lead directly to nearby streams and rivers. As a result, the toxic runoff can harm salmon by contaminating their habitat, reducing water quality, and affecting their food sources. By understanding this connection, we can take steps to reduce our impact and help protect salmon populations.
            </p>
            <p class="impact-body">
                This website is designed to help you understand how your neighborhood contributes to this problem and what you can do to help. By entering your address, you can see how water flows from your location to nearby salmon habitats and learn about the specific impacts of stormwater runoff in your area. Together, we can make a difference for our local salmon populations and the health of our waterways.
            </p>
        </div>
        <div class="right-part">
            <div class="step-card">
                <i class="fa-solid fa-umbrella"></i>
                <h3>Rain</h3>
                <p>Rain comes down</p>
            </div>
            <div class="step-card">
                <i class="fa-solid fa-road"></i>
                <h3>Road</h3>
                <p>Rain washes on the road</p>
            </div>
            <div class="step-card">
                <i class="fa-solid fa-cloud-showers-water"></i>
                <h3>Storm Drain</h3>
                <p>Toxic runoff goes into storm drain</p>
            </div>
            <div class="step-card">
                <i class="fa-solid fa-water"></i>
                <h3>Stream</h3>
                <p>Which then goes into the stream</p>
            </div>
            <div class="step-card">
                <i class="fa-solid fa-fish"></i>
                <h3>Salmon</h3>
                <p>Which then goes into the fish</p>
            </div>

        </div>
    </section>

    <section id="impact">
        <div class="left-part">
            <img src="#" alt="">
        </div>
        <div class="right-part">
            <h1 class="main">How it works</h1>
            <p class="sub">What's up lil bro</p>
            <ul class="how-it-works">
                <li><span>1. <i class="fa-solid fa-house"></i></span>&nbsp;Enter your address</li>
                <p class="address-step">we take all ur info and sell it to the black market lol</p>
                <li><span>2. <i class="fa-solid fa-sailboat"></i></span>&nbsp;Trace the Flow</li>
                <p class="trace-flow-step">we take all ur info and sell it to the black market lol</p>
                <li><span>3. <i class="fa-solid fa-gauge"></i></span>&nbsp;Measure Impact</li>
                <p class="measure-impact-step">we take all ur info and sell it to the black market lol</p>
            </ul>
        </div>
    </section>
    <!-- 
      The `defer` attribute causes the script to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises. See
      https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8AfiCIiL8W1Q6CNiTGfFVxur20jb3eP8&callback=initMap&libraries=places&v=weekly" defer></script>

{% endblock %}
