{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="hero">
        <h1 class="main-text">
            See how your street affects salmon
        </h1>
        <p>
            Enter your location to see how your neighborhood is impacting nearby salmon streams
        </p>
        <div class="enter-location">
            <label for="pac-container" id="address-label">Type your address</label>
            <div id="pac-container"></div>
        </div>
    </div>
    <div id="map"></div>

    <!-- 
      The `defer` attribute causes the script to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises. See
      https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8AfiCIiL8W1Q6CNiTGfFVxur20jb3eP8&callback=initMap&libraries=places&v=weekly" defer></script>

{% endblock %}
